<app-menu [navTitle] = "title" [color] = "'light'"></app-menu>
<!-- on aurait pu écrire color = 'light' , sans les crochets ; on met les crochets à gauche quand l'expression à droite est une variable, comme dans le cas [navTitle] = 'title' , en effet, title est une variable 

sans les crochets : html, avec les crochets : JavaScript 

on aurait pu écrire : navTitle = {{title}} , c'est la 'syntaxe html', mais ce n'est pas très 'beau' -->

<div class="container">
    <!--Ceci est un composant qui peut prendre la forme de n'importe quel composant-->
    <router-outlet></router-outlet>
</div>


